@import url("https://fonts.googleapis.com/css2?family=Prompt&display=swap");

* {
  font-family: "Prompt", sans-serif;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 0.2s;
}

::-webkit-scrollbar:hover {
  opacity: 1;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
}

.glass-blur {
  border-radius: 1rem;
  --tw-bg-opacity: 0.5;
  --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color),
    0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  --tw-backdrop-blur: blur(12px);
  backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness)
    var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale)
    var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert)
    var(--tw-backdrop-opacity) var(--tw-backdrop-saturate)
    var(--tw-backdrop-sepia);
}

.card.image-full:before {
  position: relative;
  content: "";
  z-index: 10;
  border-radius: var(--rounded-box, 1rem /* 16px */);
  --tw-bg-opacity: 1;
  background-color: var(--fallback-n, oklch(var(--n) / var(--tw-bg-opacity)));
  opacity: 0.25;
}

.text-shadow-1 {
  text-shadow: 1px 1px rgba(0, 0, 0, 0.35);
}

.text-shadow-2 {
  text-shadow: 2px 2px rgba(0, 0, 0, 0.35);
}

.text-shadow-3 {
  text-shadow: 3px 3px rgba(0, 0, 0, 0.35);
}

.text-shadow-4 {
  text-shadow: 4px 4px rgba(0, 0, 0, 0.35);
}

.text-shadow-5 {
  text-shadow: 5px 5px rgba(0, 0, 0, 0.35);
}

.bottom-0-important {
  bottom: 0px !important;
}

.right-0-important {
  right: 0px !important;
}

.fixed-important {
  position: fixed !important;
}

#Theme {
  z-index: 99999;
}